<component name="ArtifactManager">
  <artifact type="exploded-war" name="springinactiontest:war exploded">
    <output-path>$PROJECT_DIR$/target/springinactiontest</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springinactiontest" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: javax.inject:javax.inject:1" />
          <element id="library" level="project" name="Maven: commons-dbcp:commons-dbcp:1.2.2" />
          <element id="library" level="project" name="Maven: commons-pool:commons-pool:1.3" />
          <element id="library" level="project" name="Maven: org.aspectj:aspectjrt:1.6.10" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/target/springinactiontest/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="springinactiontest/web/Web" />
    </root>
  </artifact>
</component>